
<!DOCTYPE html>
{% load static %}  
<html lang="en">
<head>
  <title>Order Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Affairal</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" ><a href="#">Preview</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
    </ul>
  </div>
</nav>
<div class="container" >
      <div class="row">
          <div class="col-md-6">
                <img src="/{{img}}"  height=300 width=350 class="img-rounded" style="padding:10px"   alt="Product Image" />
          </div>
      
          <div class="col-md-6">
              <h2><span class="label label-primary">Registartion Details </span></h2>
                   <p style="font-size:150% ; font-family:calibri">
                   <b>Name </b> : {{name}}<br><br>
                   <b>Monile</b> : {{mobile}}<br><br>
                   <b>Email</b> : {{ email}}<br><br>
                   <b>Event type</b> : {{evt_type}}<br><br>
                   <b>Event </b> : {{ evt}}<br><br>
                   <b>Ticket Count</b> : {{count}}<br><br>
                   </p>
                   
                <input type=button value="Ok" onClick="javascript:history.go(-1);">   
                
          </div>  
      </div>  
      
      
  </div>        

</body>
</html>
